html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: #85929E;
}
header {
    background-color: #F0B27A;
    color: #FDFEFE;
    padding: 3rem 2rem;
}
.hero {
   width: 400px;
   margin: 0 auto;
}
section article {
    transition: all 0.3s ease;
    background-color: #FBFCFC;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3) ;
}
section article h1 section article p {
    margin: 1rem;
}
#proyect-link {
    font-size: 4rem;
    text-align: center;
}
.proyect-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proyect-detail{
    border:5px solid #AAB7B8;
    width: 300px;
    margin: 20px;
}
.proyect-detail img{
    width: 100%;
}
header {
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #85929E;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #F4F6F6;
    border-radius: 2px;
}
.form-contact{
    background-color: #85929E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}
.form-contact-box{
    margin: 10px 0;
    padding: 5px;
}
.form-contact-box label{
    width: 50px;
}
a {
    text-decoration:none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
footer {
    background-color: #626567;
    color: #fff;
    padding: 3rem;
}
footer section {
    float: right;
}
footer p {
    margin: 0;
}
footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: cornflowerblue;
}
